* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	width: 100%;
	height: 100%;
	background-color: rgb(211, 209, 209);
}

.wrapper {
	display: flex;
	flex-direction: column;
}

button {
	padding: 10px;
	border-radius: 10px;
	font-size: 20px;
	outline: none;
	cursor: pointer;
}

button:hover {
	opacity: 0.8;
}

ul {
	list-style: none;
}

header {
	display: flex;
	width: 90%;
	margin: 30px auto;
	gap: 20px;
}

main {
	display: flex;
	width: 90%;
	margin: auto;
	justify-content: space-between;
	gap: 50px;
}

.storePanel,
.formPanel {
	background-color: rgb(204, 202, 202);
	border: 1px solid rgb(132, 0, 255);
	padding: 30px;
	border-radius: 20px;
	width: 20%;
}

.formPanel {
	width: 30%;
}

.formPanel form {
	display: flex;
	flex-direction: column;
}

form {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

label {
	font-size: 30px;
	width: 100%;
}

input {
	font-size: 30px;
	width: 100%;
}

.storePanel ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.store-li {
	cursor: pointer;
	padding: 8px;
	background-color: #e0e0e0;
	border-radius: 5px;
}

.store-li.active,
button.active {
	background-color: #3498db;
	color: #fff;
}

.productPanel,
.cartItemPanel {
	background-color: rgb(204, 202, 202);
	border: 1px solid rgb(132, 0, 255);
	padding: 30px;
	border-radius: 20px;
	width: 100%;
	max-height: 70vh;
	overflow-y: auto;
}

.cartItemList {
	display: flex;
	gap: 50px;
	flex-wrap: wrap;
}

.cartItemList li {
	width: 400px;
}

.bottomBlock {
	display: flex;
	align-self: flex-end;
	align-items: center;
	gap: 20px;
	font-size: 20px;
}

.cartWrapper {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.cartItem-operations {
	display: flex;
	gap: 10px;
	align-items: center;
}

.cartItem-operations button {
	padding: 5px;
	font-size: 15px;
}

.cartItem-operations button:last-child {
	background-color: red;
	color: #fff;
}
